/* color:7A88A7 */
.color {
  color: #7a88a7;
  font-weight: 500;
}

.brand {
  background: linear-gradient(
    272.54deg,
    var(--linear-gradient1) 12.86%,
    var(--linear-gradient2) 68.06%
  );
  background-clip: text;
  --webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navBtn {
  background-color: #4c6fff;
  border: 1px solid #4c6fff;
  width: auto;
  padding: 13px 24px;
  color: #fff;
  font-size: 1rem;
  line-height: 1.2;
  fill: #fff;
  border-radius: 3px;
}
.navBtn:hover {
  background-color: #321370;
  border: 1px solid #321370;
}
