:root {
  --mobile-font-title: clamp(0.75rem, 0.75rem + 5.7292vw, 2.8125rem);
  --mobile-font-para: clamp(0.75rem, 0.75rem + 1.0417vw, 1.125rem);
  --large-font: clamp(1rem, -9.5rem + 29.1667vw, 4.5rem);
}
