.con {
  background-color: #f8fafc;
  height: 100%;
}

.articleCon {
  margin: 5rem auto;
}

.title {
  font-size: 2.25rem;
  line-height: 2.875rem;
  font-weight: 700;
  letter-spacing: -0.8px;
  color: #2d3958;
  text-align: center;
  max-width: 87%;
}

.para {
  font-size: 1.125rem;
  color: #7b88a8;
  max-width: 74%;
  margin: 0 auto;
  padding: 2rem 0;
}
.listCon {
  display: flex;
  gap: 3rem;
  margin: 0 3rem;
}

.ul {
  list-style: none;
}

.li {
  color: #2d3958;
  font-size: 1.125rem;
  font-weight: 300;
  margin: 0.5rem 0;
}
.icon {
  color: goldenrod;
  margin-right: 0.3rem;
}
