.con {
  background-image: url('../../../../public/img/footer-bg-004.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.articleCon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 4rem;
}
.title {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.5rem;
  letter-spacing: -0.8px;
  max-width: 70%;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 0;
  max-width: 40%;
  padding-bottom: 4rem;
}
.input {
  padding: 14px 22px;
  border-radius: 5px 0 0 5px;
}

.btn {
  background-color: #4c6fff;
  color: #fff;
  padding: 16px 32px;
  font-weight: 500;
  transition: all 0.3s;
  border: none;
  width: 50%;
  border-radius: 5px 0 0 5px;
}

.btn:hover {
  background-color: var(--secondary-color);
}

@media screen and (min-width: 0px) and (max-width: 576px) {
  .con {
    width: 95%;
    height: 100%;
    margin: 4rem auto;
  }

  .title {
    font-size: 2rem;
    line-height: 2.5rem;
    max-width: 100%;
  }
  .form {
    max-width: 100%;
  }
  .btn {
    max-width: 100%;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .con {
    width: 100%;
    height: 100%;
    margin: 4rem auto;
  }

  .title {
    font-size: 2.5rem;
    line-height: 3rem;
    max-width: 100%;
  }
  .form {
    max-width: 60%;
  }
  .btn {
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .con {
    width: 100%;
    height: 100%;
    margin: 4rem auto;
  }

  .title {
    font-size: 2.5rem;
    line-height: 3rem;
    max-width: 100%;
  }
  .form {
    max-width: 60%;
  }
  .btn {
    max-width: 100%;
  }
}
