.con {
  background-image: url('../../../../public/img/footer-bg-004.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.articleCon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem;
}
.title {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.5rem;
  letter-spacing: -0.8px;
  max-width: 70%;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 40%;
  padding-bottom: 2rem;
}
.input {
  padding: 14px 22px;
  border-radius: 5px 0 0 5px;
}

.btn {
  background-color: #4c6fff;
  color: #fff;
  padding: 16px 32px;
  font-weight: 500;
  transition: all 0.3s;
  border: none;
  width: 50%;
  border-radius: 5px 0 0 5px;
}

.btn:hover {
  background-color: var(--secondary-color);
}
